/* line 1, ../sass/screen.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background: #111133;
  background: -webkit-radial-gradient(#000055, #111133);
  background: radial-gradient(#000055, #111133);
  color: #d44302;
}

/* line 23, ../sass/screen.scss */
a {
  color: #d44302;
}

/* line 27, ../sass/screen.scss */
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

/* line 33, ../sass/screen.scss */
h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
}

/* line 39, ../sass/screen.scss */
#card {
  display: inline-block;
  padding: 40px;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  border-radius: 4px;
}

/* line 49, ../sass/screen.scss */
.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-between;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 68, ../sass/screen.scss */
.links li {
  font-size: 30px;
}
